@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 211, 185);
  font-family: "Rubik", sans-serif;
  margin: auto;
}

header {
  background-size: cover;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  font-family: "Kanit", sans-serif;
  

}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: antiquewhite;
}

.navbar a{
  /* display: flex;
  justify-content: space-between; */
  color: antiquewhite;
  margin-right: 30px;
}

.head1 {

  display: flex;
  justify-content: center;
  font-size: xx-large;
  color: rgb(0, 0, 0);
  flex-direction: column;
.para1 {



}
}

.bottom {

  display: flex;
  justify-content: end;
  font-weight: 800;
  color: rgb(0, 0, 0);
  flex-direction: column;

}

.mainhead1 {

  display: flex;
  justify-content: center;
  font-weight: 800;
  color: rgb(235, 182, 156);

}

.imgsec {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgb(235, 182, 156);


}

.mainhead2 {
  display: flex;
  justify-content: center;
  font-weight: 800;


}

.lastdiv {

  display: flex;
  justify-content: center;

}